<h1>this is home page</h1>
<p>You found me</p>
<img src="https://t00.deviantart.net/42y1tg-IIkk1wO-uWqUGBbGjA9w=/300x200/filters:fixed_height(100,100):origin()/pre00/99b6/th/pre/f/2015/242/c/3/im_page_26_by_gseren-d97qer8.png">

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>